
/* .parallax {
    background-image: url('logo01.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  body {
    font-size: 100%;
    background: linear-gradient(180deg, rgba(16, 13, 36, 0.94) 66.4%, rgba(16, 13, 36, 0.9024) 76.71%, rgba(16, 13, 36, 0.8084) 86.47%, rgba(16, 13, 36, 0.6204) 97.51%);
    height: 100vh;
    width: 100vw;
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: #100D24;
  }

  .cabecalho-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 560px;
    
  }

  .cabecalho-menu {
    display: flex;
    gap: 28px;
    margin-left: auto;
  }

  .cabecalho-menu-item {
    font-family: 'Julius Sans One';
    color: white;
    font-weight: 400;
    font-size: 15px;

  }

  .conteudo {
    display: flex;
    justify-content: center;
    border-top: 0.4px solid #100D24;
    align-items: baseline;
  }
  .conteudo-principal-item {
    display: flex; 
    order: center;
  }
