
/* .parallax {
    background-image: url('logo01.png');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  body {
    font-size: 100%;
    background: linear-gradient(180deg, rgba(16, 13, 36, 0.94) 66.4%, rgba(16, 13, 36, 0.9024) 76.71%, rgba(16, 13, 36, 0.8084) 86.47%, rgba(16, 13, 36, 0.6204) 97.51%);
    text-color: white;
  }

  .cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 20px;
  }

  .cabecalho-menu {
    display: flex;
    gap: 28px;
  }

  .cabecalho-imagem {
    display: flex;
    gap: 100px;
  }

  .conteudo-principal-nome {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .conteudo-principal-imagem {
    display: flex;
    justify-content: center;
  }